<center>
<table style="align:center; width:80%;">
<!--
	<tr>
		<td colspan="2">
			<center>
			<a href="../startaproject/param">
				<img src="http://i.imgur.com/mJXnd6N.png" style="width:50px;">
				</br>
				<span style="font-size:24px; font-weight:bold; color:black;">新增企劃</span>
			</a>
			</center>
		</td>
	</tr>
-->
	<tr>
	<td>
		<center>
		<a href="../ideaindex/index">
			<img  src="http://i.imgur.com/BOYtGN2.png">
			</br>
			<span style="font-size:30px; font-weight:bold; color:black;">創意發想專區</span>
		</a>
		<center>
	</td>
	<td>
		<center>
		<a href="../reflashindex/index">
			<img  src="http://i.imgur.com/yLhY0rO.png">
			</br>
			<span style="font-size:30px; font-weight:bold; color:black;">正式募資專區</span>
		</a>
		<center>
	</td>
	</tr>
</table>
</center>
