<center>
<p style="font-size:25pt;">cocreation</p>
<div style="width:600px; text-align:left;">

<p>
緣起</br>
2013年的夏天，國立清華大學EMBA校友會前會長林建宏先生體會到學生在課堂的專案所提出的好點子，往往因為課程結束就停擺。有時是因為學生團隊因為其他課程與研究壓力而停止發展；有時是因為缺乏其他資源如專業與資金的奧援而作罷。因此，一個起心動念：如何幫助學生團隊的專案成為有價值的創新與創業的成果，Cocreation的群眾募資平台構想，於焉誕生。接著，利用暑假找了服務科學研究所的幾位同學，打造了Cocreation的平台。其間，邀請了科管院的幾位教授提供建議與指導。正是在2013年的10月啟用。在102學年度上學期，服務科學研究所的服務科學導論以及EMBA服務科學的課程，首先採用作為發掘顧客、驗證服務雛型、與試營運服務的價值共創平台。
</p>

<p>
目的</br>
本平台旨在促進精實創業(Lean Startup)的實現。透過初始提案來邀請潛在的顧客一起來參與，一方面觀察市場的反應，同時也將顧客回饋作為創意發想與企劃修改的參考。正式募資就是以服務的雛型來測試市場的反應的過程。募資達到目標，表示所提出的服務內容(Service Offering)和營運模式(Business Model)所顯示的價值主張(Value Proposition)，得到顧客的認同，願意採用。募資未達目標值，表示所提出的價值主張，尚無法找到足夠的顧客認同。後續可以修改後重新提案。
</p>

<p>
任務</br>
本平台的任務乃提供一個透明公開的服務創新專案初期市場測試的平台。初期以學校課程的創新專案為主，學校的授課或指導教授擔任專案的審核和指導的角色，以協助提案學生團隊能募資成功且並進行試營運的目標。提案的學生團隊亦本於誠信，能履行募資的回饋承諾。贊助的個人或團體，基於鼓勵專案團隊從知到行，敢於實踐的勇氣，給於回饋與支持。
</p>

<p>
誠摯邀請以顧客為中心、服務導向的創新與創業的團隊申請使用。也歡迎大眾對於有興趣的專案，踴躍贊助。讓服務創新驅動我們邁向更好的社會與永續的產業與環境。
</br>
對於本平台成立的宗旨與營運有任何問題，歡迎與我們聯繫。
</br>
e-mail: <a href="mailto:cocreation.nthu@gmail.com">cocreation.nthu@gmail.com</a>
</p>

</div>
</center>
