<p><%= @resource.email %>您好！</p>

<p>您在cocreation平台，提出忘記密碼需要重新設置的要求，可點選以下連結進行新密碼的設定</p>

<p><%= link_to '更改密碼', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>若您並未提出此要求，請忽略此封信件</p>
<p>您的密碼並不會重新設置，除非你點選以上連結，並設定新的密碼</p>

<p>cocreation平台感謝您的支持！</p>
